.lightTheme {
  color: black;
  background-color: white;
  transition: 300ms;
}

.darkTheme {
  color: white;
  background-color: black;
  transition: 300ms;
}

.layout {
  max-width: 800px;
  padding: 48px;
  margin: 0 auto;
}
